@tailwind base;
@tailwind components;
@tailwind utilities;

.compositex-hero {
    background-image: url(/images/bg.png);
    background-size: 256px 324px;
    background-position: center;
    background-repeat: no-repeat;
}
.compositex-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 560px;
    max-width: 60rem;
    padding: 0 5rem;
    backdrop-filter: blur(32px);
    margin: 0 auto;
}